---
import BaseLayout from '../layouts/BaseLayout.astro'
import FormattedDate from '../components/FormattedDate.astro'
import { getCollection } from 'astro:content';

const posts = (await getCollection('blog')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

const pageTitle = "Max Phillips"
---

<BaseLayout pageTitle = {pageTitle}>

  <ul >
    <!-- sorts posts newest on top -->

      {
        posts.map((post) => (
          <li>
            <div class="date"><FormattedDate date={post.data.pubDate} /></div>
            <p><a href={`/blog/${post.id}/`}>{post.data.title}</a></p>
            <small>{post.data.description}</small>
          </li>
        ))
      }
    
  </ul>

</BaseLayout>
    
<style lang="scss">
  ul {
    --dateGap: 3.75rem;
    display: grid;
    gap: 1.25em;
    list-style:none;
    padding-inline-start: var(--dateGap);

    li {
      position: relative;

      .date {
        position: absolute;
        left: calc(var(--dateGap) * -1);
        font-size: .6em;
        font-weight:900;
        text-transform: uppercase;
        line-height: 1.5rem;
        letter-spacing: .0001em;
      }
    }

    a::before {
      content: attr(data-content);
    }

    p {
        margin: 0;
    }
  }
</style>
