---
import type { CollectionEntry } from "astro:content";
import BaseLayout from "./BaseLayout.astro";
import { formatDate } from "../scripts/formatDate";

type Props = CollectionEntry<'blog'>['data'];

const { title, pubDate, heroImage, heroAlt, tags } = Astro.props
---
<BaseLayout pageTitle = {title} >
    <p class="date">{pubDate}</p>
    <div class="tags">
        {tags.map((tag: string) => (
            <p class="tag"><a href={`/tags/${tag}`}>{tag}</a></p>
        ))}
    </div>
    <img src={heroImage} width="600" alt={heroAlt}>
    <slot />
    <p><a href="/">&slarr; Home</a></p>

</BaseLayout>

<style lang="scss">

    .date {
      // margin-block-start: -1.25rem;
      font-size: .75em;
      text-transform: uppercase;
    }

  </style>